<a [routerLink]="['/product/productDetail', product.productId]"
    style="text-decoration: none; color: black; position: relative;">
    <div class="card-product">
        <div class="image">
            <img *ngIf="product.name == ''; else noImage" src="../../../../../../../assets/peixe-removebg-preview.png"
                alt="">
            <ng-template #noImage>
                <img src="../../../../../../../assets/product.png">
            </ng-template>
        </div>
        <span style="text-transform: capitalize; font-size: 20px; height: 10%;"><b>{{product.name}}</b></span>
        <div style="padding: 0 10px; height: 20%;">
            <div class="infos-card">
                <div style="text-align: center; display: flex; gap: 5px;">
                    <fa-icon style="font-size: 15px; color: green" [icon]="faMoneyBillWave"></fa-icon>
                    <span>Preço<br>R$</span>
                </div>
                <div style="text-align: center; display: flex; gap: 5px;">
                    <fa-icon style="font-size: 15px; margin: 3px; color: brown" [icon]="faDolly"></fa-icon>
                    <div *ngIf="51 > 50; else blockAverageStock">
                        Estoque<br><span title="Alto" style="color: green;">KG</span></div>
                    <ng-template #blockAverageStock>
                        <div *ngIf="21 > 20; else blockLowStock">
                            Estoque<br><span title="Médio" style="color: orange;">KG</span></div>
                        <ng-template #blockLowStock>
                            <div>Estoque<br><span title="Baixo" style="color: red;">KG</span></div>
                        </ng-template>
                    </ng-template>
                </div>
            </div>
        </div>
        <p [attr.data-bs-toggle]="" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
            [attr.data-bs-title]="">{{product.description}}</p>
    </div>
    <div class="new-card">
        Novo
    </div>
</a>