<aside>
    <ul>
        <ng-container *ngFor="let menu of menus">
            <li id={{menu.id}} class={{menu.class}}>
                <div (click)="onChangeActive(menu.id)">
                    <div *ngIf="menu.submenus.length == 0, else blockSubMenus">
                        <a style="height: 100%; width: 100%;" routerLink={{menu.link}} routerLinkActive="selected"
                            href="#">
                            <fa-icon [icon]=menu.icon></fa-icon>{{menu.name}}
                        </a>
                    </div>
                </div>
                <ng-template #blockSubMenus>
                    <a style="height: 100%; width: 100%;  position: relative;">
                        <fa-icon [icon]=menu.icon></fa-icon>{{menu.name}}
                        <fa-icon class="hidden-arrow-menus" [icon]=faSortDown
                            style="position: absolute; right: 30px;"></fa-icon>
                    </a>
                    <ul class="hidden-submenu">
                        <ng-container *ngFor="let submenu of menu.submenus">
                            <li id={{submenu.id}} (click)="onChangeActive(submenu.id)" class="{{submenu.class}}">
                                <a style="height: 100%; width: 100%;" routerLink={{submenu.link}}
                                    routerLinkActive="selected" href="#">
                                    <fa-icon [icon]=submenu.icon></fa-icon>{{submenu.name}}
                                </a>
                            </li>
                        </ng-container>
                    </ul>
                </ng-template>
            </li>
        </ng-container>
    </ul>
</aside>