<section>
    <h1 class="title">
        <fa-icon [icon]="faShare" style="font-size: 20px; margin-right: 5px;"></fa-icon> {{pageName}}
    </h1>
    <div style="display: flex; gap: 10px;">
        <ng-container *ngFor="let button of buttons">
            <div *ngIf="button.link == null; else blockButton">
            </div>
            <ng-template #blockButton>
                <button class="btn {{button.class}}" style="text-transform: uppercase;
                align-items: center;
                display: flex;
                gap: 5px;" (click)="onClickButton(button)">
                    <div *ngIf="button.iconButton != null;">
                        <fa-icon [icon]='button.iconButton' style="display: flex;"></fa-icon>
                    </div>
                    {{button.name}}
                </button>
            </ng-template>
        </ng-container>
    </div>
</section>