* {
    font-family: 'Afacad', sans-serif;
}

header {
    background-color: white;
    width: 100%;
    box-shadow: 1px 1px 5px 1px;
    display: flex;
    align-items: center;
}

nav {
    height: 75px;
    display: flex;
    position: relative;
    width: 100%;
}

img {
    width: 170px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

p {
    font-size: 45px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    background-color: #1E90FF;
    padding: 5px;
    border-right: solid 1px;
    border-color: black;
    margin: 0px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px black;
    line-height: 33px;
}

.info-user {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
    background-color: #1E90FF;
    color: white;
    min-width: 400px;
}

.menu-user {
    width: 250px;
    display: flex;
    padding: 10px;
    align-items: center;
}

.menu {
    height: 100%;
    border-right: solid 1px black;
    border-left: solid 1px black;
    display: flex;
    align-items: center;
    padding: 15px;
    min-width: 75px;
    justify-content: center;
}

label {
    font-size: 30px;
}

a {
    color: white;

}

@media (max-width: 1250px) {

    nav,
    img {
        height: 85px;
    }

    img {
        width: 210px;
    }

    p {
        font-size: 42px;
        line-height: 35px
    }
}