<div class="card-customer">
    <div *ngIf="customer.image; else imageLogo">
        <img src="{{customer.image}}" alt="">
    </div>
    <ng-template #imageLogo>
        <div *ngIf="customer.typePerson == 'Pessoa Jurídica'; else imageLogoBuyer">
            <img src="../../../../../assets/iconcompany.png" alt="">
        </div>
        <ng-template #imageLogoBuyer>
            <img src="../../../../../assets/download-removebg-preview.png" alt="">
        </ng-template>
        
    </ng-template>
    <div>
        <a [routerLink]="['/customer/customerDetail', customer.buyerId]"
            style="text-transform: uppercase;">{{customer.name}}</a>
        <span>{{customer.taxRecord}}</span>
    </div>
    <div *ngIf="customer.address">
        <span style="text-transform: uppercase;">{{customer.address.estate}}</span>
        <span style="text-transform: uppercase;">{{customer.address.city}}</span>
        <span>{{customer.address.address}}</span>
    </div>
    <div>
        <span>{{customer.telephones}}</span>
        <span>{{customer.typePerson}}</span>
    </div>
</div>