<div class="card-product">
    <img *ngIf="productStock.company.image; else noImage" src="{{productStock.company}}" alt="">
    <ng-template #noImage>
        <div class="style-image">
            <img src="../../../../../../../assets/peixe-removebg-preview.png" alt="" >
        </div>
    </ng-template>
    <div>
        <a [routerLink]="['/logistic/stockProductDetail', productStock.stockId]"
            style="text-transform: uppercase;">{{productStock.product.name}}</a>
        <span>{{productStock.product.description}}</span>
    </div>
    <div>
        <span>Preço: <b *ngIf="productStock.price; else noPrice">{{productStock.price}}</b><ng-template #noPrice><b>0</b></ng-template>R$</span>
        <span>Disponível: <b *ngIf="productStock.quantity; else noQuantity">{{productStock.quantity}}</b><ng-template #noQuantity><b>0</b></ng-template>KG</span>
    </div>
    <div>
        <span>Tipo de água: {{productStock.product.aquaType}}</span>
    </div>
</div>