<header>
    <nav>
        <p>Caio Pescados</p>
        <img src="../../assets/Caio_Pescados-removebg-preview.png" alt="">
        <div class="info-user">
            <div>
                <fa-icon [icon]="faCogs" style="font-size: 30px;"></fa-icon>
            </div>
            <div style="border-left: 0px;">
                <fa-icon [icon]="faPowerOff" style="font-size: 30px;"></fa-icon>
            </div>
            <div style="border-left: 0px; gap: 15px;">
                <label for="">Caio Bom Reis</label>
                <fa-icon [icon]="faUserCircle" style="font-size: 60px;"></fa-icon>
            </div>
        </div>
    </nav>
</header>