header {
    background-color: white;
    width: 100vw;
    box-shadow: 1px 1px 5px 1px;
    display: flex;
    align-items: center;
}

nav{
    height: 95px;
    display: flex;
}

img{
    width: 230px;
    height: 95px;
    object-fit: cover;
    object-position: center;
}

p{
    font-size: 50px;
    font-family: 'Afacad', sans-serif;;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    background-color: #1E90FF;
    padding: 5px;
    border-right: solid 1px;
    border-color: black;
    margin: 0px;
    line-height: 40px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px black;
}