<app-title-page pageName="Detalhes do Fornecedor" (clickButton)="onClickButton($event)" [buttons]=buttons></app-title-page>
<section class="main-content">
  <form [formGroup]="formGroup" (ngSubmit)="ngOnSubmit()" #formDir="ngForm" method="POST">
    <div class="group-content">
      <span class="group-title">Dados Cadastrais</span>
      <div class="group-info">
        <div class="group-input">
          <label for="name" class="form-label" style="font-size: 15px; margin-bottom: 0px;">Razão Social</label>
          <input type="text" class="form-control is-invalid" id="name" aria-describedby="nameHelp" style="width: 100%;"
            formControlName="name" required (change)="onChangeName($event.target)">
          <div *ngIf="name.invalid && submitted" class="invalid-feedback">
            <p *ngIf="name.errors?.['required']">Nome obrigatório.</p>
            <p *ngIf="name.errors?.['minlength']">Nome deve conter pelo menos 5 caracteres.</p>
          </div>
        </div>
        <div class="group-input">
          <label for="taxNumber" class="form-label" style="font-size: 15px; margin-bottom: 0px;">CNPJ</label>
          <input type="text" class="form-control is-invalid" id="taxNumber" style="width: 100%;" formControlName="taxNumber" required (change)="onChangeTaxNumber($event.target)">
          <div *ngIf="taxNumber.invalid && submitted" class="invalid-feedback">
            <p *ngIf="taxNumber.errors?.['required']">CNPJ obrigatório.</p>
            <p *ngIf="taxNumber.errors?.['minlength'] || taxNumber.errors?.['maxlength']">CNPJ deve conter pelo menos 14 caracteres.
            </p>
          </div>
        </div>
        <div class="group-input">
          <label for="stateRegistration" style="font-size: 15px; margin-bottom: 0px;">Inscrição
            Estadual</label>
          <input id="stateRegistration" class="form-control" type="text" style="width: 100%;"
            formControlName="stateRegistration">
        </div>
        <div class="group-input">
          <label for="branchActivity" style="font-size: 15px; margin-bottom: 0px;">Ramo de Atividade</label>
          <input id="branchActivity" class="form-control" type="text" style="width: 100%;"
            formControlName="branchActivity">
        </div>
      </div>
    </div>
    <div class="group-content">
      <span class="group-title">Endereço</span>
      <div class="group-info">
        <div class="group-input">
          <label for="address" style="font-size: 15px; margin-bottom: 0px;">Rua</label>
          <input id="address" class="form-control" type="text" style="width: 100%;" formControlName="street">
        </div>
        <div class="group-input">
          <label for="city" style="font-size: 15px; margin-bottom: 0px;">Cidade</label>
          <input id="city" class="form-control" type="text" style="width: 100%;" formControlName="city">
        </div>
        <div class="group-input">
          <label for="estate" style="font-size: 15px; margin-bottom: 0px;">Estado</label>
          <input id="estate" class="form-control" type="text" style="width: 100%;" formControlName="estate">
        </div>
        <div class="group-input">
          <label for="country" style="font-size: 15px; margin-bottom: 0px;">País</label>
          <input id="country" class="form-control" type="text" style="width: 100%;" formControlName="country">
        </div>
        <div class="group-input">
          <label for="zip-code" style="font-size: 15px; margin-bottom: 0px;">CEP</label>
          <input id="zip-code" class="form-control" type="text" style="width: 100%;" formControlName="zipCode">
        </div>
        <div class="group-input">
          <label for="complemento" style="font-size: 15px; margin-bottom: 0px;">Complemento</label>
          <input id="complemento" class="form-control" type="text" style="width: 100%;" formControlName="complement">
        </div>
      </div>
    </div>
    <div class="group-content">
      <span class="group-title">Contato</span>
      <div class="group-info">
        <div class="group-input">
          <label for="nameUser" style="font-size: 15px; margin-bottom: 0px;">Nome do Funcionário</label>
          <input id="nameUser" class="form-control" type="text" style="width: 100%;" formControlName="nameUser">
        </div>
        <div class="group-input">
          <label for="telephone" class="form-label" style="font-size: 15px; margin-bottom: 0px;">Telefone</label>
          <input type="text" class="form-control" id="telephone" style="width: 100%;" formControlName="telephone">
        </div>
        <div class="group-input">
          <label for="email" class="form-label" style="font-size: 15px; margin-bottom: 0px;">Email</label>
          <input type="email" class="form-control" id="email" style="width: 100%;" formControlName="email">
        </div>
      </div>
    </div>
    <div class="group-content">
      <span class="group-title">Dados Complementares</span>
      <div class="group-info" style="grid-template-columns: none">
        <div class="group-input">
          <label for="Total-collaborators" style="font-size: 15px; margin-bottom: 0px;">Imagem</label>
          <app-upload></app-upload>
        </div>
      </div>
    </div>
  </form>
</section>
