<app-title-page pageName="Detalhes do Fornecedor"
  [buttons]=buttons></app-title-page>
<section class="main-content">
<form>
  <img src="{{image}}" class="img-thumbnail" alt="">
  <div class="mb-3">
    <label for="name" class="form-label">Nome</label>
    <input type="text" class="form-control" id="name" aria-describedby="nameHelp">
  </div>
  <div class="mb-3">
    <label for="cnpj" class="form-label">CNPJ</label>
    <input type="text" class="form-control" id="cnpj">
  </div>
  <div class="mb-3">
    <label for="telephone" class="form-label">Telefone</label>
    <input type="text" class="form-control" id="telephone">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email">
  </div>
</form>
</section>
