<app-title-page pageName="Detalhes do Fornecedor" [buttons]=buttons></app-title-page>
<section class="main-content">
  <form [formGroup]="formGroup">
    <div class="group-content">
      <span class="group-title">Dados Cadastrais</span>
      <div class="group-info">
        <div class="group-input">
          <label for="name" class="form-label" style="font-size: 15px; margin-bottom: 0px;">Razão Social</label>
          <input type="text" class="form-control" id="name" aria-describedby="nameHelp" style="width: 100%;"
            formControlName="name">
        </div>
        <div class="group-input">
          <label for="cnpj" class="form-label" style="font-size: 15px; margin-bottom: 0px;">CNPJ</label>
          <input type="text" class="form-control" id="cnpj" style="width: 100%;" formControlName="cnpj">
        </div>
        <div class="group-input">
          <label for="state-registration" style="font-size: 15px; margin-bottom: 0px;">Inscrição
              Estadual</label>
          <input id="state-registration" class="form-control" type="text" style="width: 100%;"
              formControlName="stateRegistration">
      </div>
      <div class="group-input">
        <label for="branch" style="font-size: 15px; margin-bottom: 0px;">Ramo de Atividade</label>
        <input id="branch" class="form-control" type="text" style="width: 100%;"
            formControlName="stateRegistration">
    </div>
      </div>
    </div>
    <div class="group-content">
      <span class="group-title">Endereço</span>
      <div class="group-info">
        <div class="group-input">
          <label for="street" style="font-size: 15px; margin-bottom: 0px;">Rua</label>
          <input id="street" class="form-control" type="text" style="width: 100%;" formControlName="street">
        </div>
        <div class="group-input">
          <label for="numberStreet" style="font-size: 15px; margin-bottom: 0px;">Número</label>
          <input id="numberStreet" class="form-control" type="text" style="width: 100%;" formControlName="numberStreet">
        </div>
        <div class="group-input">
          <label for="city" style="font-size: 15px; margin-bottom: 0px;">Cidade</label>
          <input id="city" class="form-control" type="text" style="width: 100%;" formControlName="city">
        </div>
        <div class="group-input">
          <label for="estate" style="font-size: 15px; margin-bottom: 0px;">Estado</label>
          <input id="estate" class="form-control" type="text" style="width: 100%;" formControlName="estate">
        </div>
        <div class="group-input">
          <label for="country" style="font-size: 15px; margin-bottom: 0px;">País</label>
          <input id="country" class="form-control" type="text" style="width: 100%;" formControlName="country">
        </div>
        <div class="group-input">
          <label for="zip-code" style="font-size: 15px; margin-bottom: 0px;">CEP</label>
          <input id="zip-code" class="form-control" type="text" style="width: 100%;" formControlName="zipCode">
        </div>
        <div class="group-input">
          <label for="complemento" style="font-size: 15px; margin-bottom: 0px;">Complemento</label>
          <input id="complemento" class="form-control" type="text" style="width: 100%;" formControlName="complement">
        </div>
      </div>
    </div>
    <div class="group-content">
      <span class="group-title">Contato</span>
      <div class="group-info">
        <div class="group-input">
          <label for="nameUser" style="font-size: 15px; margin-bottom: 0px;">Nome do Funcionário</label>
          <input id="nameUser" class="form-control" type="text" style="width: 100%;"
              formControlName="nameUser">
      </div>
        <div class="group-input">
          <label for="telephone" class="form-label" style="font-size: 15px; margin-bottom: 0px;">Telefone</label>
          <input type="text" class="form-control" id="telephone" style="width: 100%;" formControlName="telephone">
        </div>
        <div class="group-input">
          <label for="email" class="form-label" style="font-size: 15px; margin-bottom: 0px;">Email</label>
          <input type="email" class="form-control" id="email" style="width: 100%;" formControlName="email">
        </div>
      </div>
    </div>
    <div class="group-content">
      <span class="group-title">Dados Complementares</span>
      <div class="group-info" style="grid-template-columns: none">
        <div class="group-input">
          <label for="Total-collaborators" style="font-size: 15px; margin-bottom: 0px;">Imagem</label>
          <app-upload></app-upload>
        </div>
      </div>
    </div>
  </form>
</section>