<div *ngIf="totalElements > 0" class="count-pagination">
    <div class="page-link pagination count" style="color: black;">
        <span> 1 a {{numberOfElements}} de {{totalElements}}</span>
    </div>
    <nav aria-label="Page navigation example">
        <ul id="ul" class="pagination">
            <li (click)="onChangePage($event)" class="page-item"><a id="previous" class="page-link disabled" style="color: black; cursor: pointer;">Anterior</a></li>
            <li (click)="onChangePage($event)" class="page-item"><a class="page-link active" style="color: black; cursor: pointer;" >1</a></li>
            <li (click)="onChangePage($event)" class="page-item"><a class="page-link" style="color: black; cursor: pointer;" >2</a></li>
            <li (click)="onChangePage($event)" class="page-item"><a class="page-link" style="color: black; cursor: pointer;" >3</a></li>
            <li (click)="onChangePage($event)" class="page-item"><a id="next" class="page-link" style="color: black; cursor: pointer;" >Próximo</a></li>
        </ul>
    </nav>
</div>