<app-title-page pageName="Detalhes do Produto" (clickButton)="onClickButton($event)" [buttons]=buttons></app-title-page>
<section class="main-content">
  <form [formGroup]="formGroup" (ngSubmit)="ngOnSubmit()" #formDir="ngForm">
    <div class="group-content">
      <span class="group-title">Dados Cadastrais</span>
      <div class="group-info">
        <div class="group-input">
          <label for="name" class="form-label" style="font-size: 15px; margin-bottom: 0px;">Nome</label>
          <input type="text" class="form-control is-invalid" id="name" aria-describedby="nameHelp" style="width: 100%;"
            formControlName="name" required (change)="onChangeName($event.target)">
          <div *ngIf="name.invalid && submitted" class="invalid-feedback">
            <p *ngIf="name.errors?.['required']">Nome obrigatório.</p>
            <p *ngIf="name.errors?.['minlength']">Nome deve conter pelo menos 2 caracteres.</p>
          </div>
        </div>
        <div class="group-input">
          <label for="description" class="form-label" style="font-size: 15px; margin-bottom: 0px;">Descrição</label>
          <input type="text" class="form-control" id="description" style="width: 100%;" formControlName="description">
        </div>
        <div class="group-input">
          <label for="aquaType" style="font-size: 15px; margin-bottom: 0px;">Tipo de água
          </label>
          <input id="aquaType" class="form-control" type="text" style="width: 100%;" formControlName="aquaType">
        </div>
        <div class="group-input">
          <label for="inputStock" style="font-size: 15px; margin-bottom: 0px;">Estoque</label>
          <div style="width: 100%;" *ngIf="companies$ | async as companies;">
            <select id="inputStock" class="form-select" multiple formControlName="stock">
              <ng-container *ngFor="let company of companies.content">
                <option [ngValue]="company.companyId">{{company.corporateName}}</option>
              </ng-container>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>