<app-title-page pageName="Detalhes da Compra" (clickButton)="onClickButton($event)" [buttons]=buttons></app-title-page>
<section class="main-content">
  <form [formGroup]="formGroup" (ngSubmit)="ngOnSubmit()" #formDir="ngForm" method="POST">
    <div class="group-content">
      <span class="group-title">Fornecedor</span>
      <div class="group-info">
        <div class="group-input">
          <label for="supplier" style="font-size: 15px; margin-bottom: 0px;">Razão Social</label>
          <div *ngIf="suppliers$ | async as suppliers">
            <select id="supplierid" class="form-select" required formControlName="supplier"
              (change)="onChangeRazaoSocial($event.target)">
              <ng-container *ngFor="let supplier of suppliers.content">
                <option [ngValue]="supplier.supplierId">{{supplier.name}}</option>
              </ng-container>
            </select>
          </div>
        </div>
        <div class="group-input">
          <label for="tax-number" style="font-size: 15px; margin-bottom: 0px;">CNPJ</label>
          <input id="tax-number" class="form-control" type="text" style="width: 100%;" formControlName="taxNumber"
            (change)="onChangeTaxNumber($event.target)">
        </div>
      </div>
    </div>
    <div class="group-content">
      <span class="group-title">Situação do Pedido</span>
      <div class="group-info">
        <div class="group-input">
          <label for="valorTotal" style="font-size: 15px; margin-bottom: 0px;">Valor Total</label>
          <input id="valorTotal" class="form-control" type="text" style="width: 100%;" formControlName="valorTotal"
            readonly placeholder="valorTotal">
        </div>
        <div class="group-input">
          <label for="status" style="font-size: 15px; margin-bottom: 0px;">StatusAq</label>
          <input id="satus" class="form-control" type="text" style="width: 100%;" formControlName="status" readonly
            placeholder="status">
        </div>
      </div>
    </div>
    <div class="group-content">
      <span class="group-title">Endereço de Entrega</span>
      <div class="group-info">
        <div class="group-input">
          <label for="address" style="font-size: 15px; margin-bottom: 0px;">Rua</label>
          <input id="address" class="form-control" type="text" style="width: 100%;" formControlName="address">
        </div>
        <div class="group-input">
          <label for="city" style="font-size: 15px; margin-bottom: 0px;">Cidade</label>
          <input id="city" class="form-control" type="text" style="width: 100%;" formControlName="city">
        </div>
        <div class="group-input">
          <label for="estate" style="font-size: 15px; margin-bottom: 0px;">Estado</label>
          <input id="estate" class="form-control" type="text" style="width: 100%;" formControlName="estate">
        </div>
        <div class="group-input">
          <label for="country" style="font-size: 15px; margin-bottom: 0px;">País</label>
          <input id="country" class="form-control" type="text" style="width: 100%;" formControlName="country">
        </div>
        <div class="group-input">
          <label for="zip-code" style="font-size: 15px; margin-bottom: 0px;">CEP</label>
          <input id="zip-code" class="form-control" type="text" style="width: 100%;" formControlName="zipCode">
        </div>
        <div class="group-input">
          <label for="complemento" style="font-size: 15px; margin-bottom: 0px;">Complemento</label>
          <input id="complemento" class="form-control" type="text" style="width: 100%;" formControlName="complement">
        </div>
      </div>
    </div>
    <div class="group-content">
      <span class="group-title">Itens</span>
      <div class="group-info">

        <div class="group-input">
          <div style="width: 100%;" *ngIf="stocks$ | async as stocks">
            <label for="stock" style="font-size: 15px; margin-bottom: 0px;">Estoque</label>
            <select id="stockId" class="form-select" formControlName="stock">
              <ng-container *ngFor="let stock of stocks.content">
                <option [ngValue]="stock.stockId">{{stock.company}}</option>
              </ng-container>
            </select>
          </div>
        </div>

        <div class="group-input">
          <label for="shopping-cart" style="font-size: 15px; margin-bottom: 0px;">Produto</label>
          <div style="width: 100%;" *ngIf="products$ | async as products">
            <select id="product" class="form-select" required formControlName="product"
              (change)="onChangeProduct($event.target)">
              <ng-container *ngFor="let product of products.content">
                <option [ngValue]="product.productId">{{product.name}}</option>
              </ng-container>
            </select>
          </div>
        </div>

        <div class="group-input">
          <label for="amount" style="font-size: 15px; margin-bottom: 0px;">Quantidade</label>
          <input id="amount" class="form-control" type="text" style="width: 100%;" formControlName="amount">
        </div>
        <div class="group-input">
          <label for="value" style="font-size: 15px; margin-bottom: 0px;">Valor</label>
          <input id="value" class="form-control" type="text" style="width: 100%;" formControlName="value">
        </div>
      </div>
    </div>
    <div *ngIf=" false" class="group-content">
      <span class="group-title">Transporte</span>
      <div class="group-info">
        <div class="group-input">
          <label for="transport" style="font-size: 15px; margin-bottom: 0px;">Transportadora</label>
          <select id="transport" class="form-select" required formControlName="transport">
            <ng-container *ngFor="let shippingCompany of shippingCompanys">
              <option [ngValue]="shippingCompany.id">{{shippingCompany.name}}</option>
            </ng-container>
          </select>
        </div>
        <div class="group-input">
          <label for="tax-number-trans" style="font-size: 15px; margin-bottom: 0px;">CNPJ</label>
          <input id="tax-number-trans" class="form-control" type="text" style="width: 100%;"
            formControlName="taxNumberTrans">
        </div>
        <div class="group-input">
          <label for="transport-vehicle" style="font-size: 15px; margin-bottom: 0px;">Meio de Transporte</label>
          <select id="transport-vehicle" class="form-select" required formControlName="transportVehicle">
            <ng-container *ngFor="let transport of transports">
              <option [ngValue]="transport.id">{{transport.name}}</option>
            </ng-container>
          </select>
        </div>
        <div class="group-input">
          <label for="height" style="font-size: 15px; margin-bottom: 0px;">Peso da Carga</label>
          <input id="height" class="form-control" type="text" style="width: 100%;" formControlName="height">
        </div>
      </div>
    </div>
    <div class="group-content">
      <span class="group-title">Observações</span>
      <div class="group-info" style="display: block;">
        <label for="comment" style="font-size: 15px; margin-bottom: 0px;">Comentário</label>
        <textarea id="comment" class="form-control" style="width: 100%;" formControlName="comment"></textarea>
      </div>
    </div>
  </form>
</section>
