.header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.sidebar {
    position: fixed;
    overflow-y: scroll;
    top: 95px;
    height: calc(100vh - 95px);
}

.content-area {
    position: absolute;
    left: 250px;
    width: calc(100% - 250px);
    top: 95px
}

@media (max-width: 1250px) {
    .sidebar,
    .content-area {
        top: 85px
    }
}