.header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 95px;
    height: calc(100vh - 95px);
    width: 250px;
}

.content-area {
    position: absolute;
    left: 250px;
    width: calc(100% - 250px);
    top: 95px
}

@media (max-width: 1250px) {
    .sidebar,
    .content-area {
        top: 85px
    }
}