.content-general {
    display: flex;
    margin-top: 25px;
    width: 100%;
    height: 100%;
}

.content-cards{
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 30px 10px;
    display: grid;
    width: calc(100% - 40px);
}

.search {
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    flex-direction: column;
}

form {
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

span {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    animation: change-section 2s;
}

@keyframes change-section {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
    }
}

.stylized-filter {
    width: 100%;
    display: grid;
    grid-template-columns: .5fr 2fr .5fr 2fr;
    padding: 10px;
    gap: 10px;
    align-items: center;
}

label {
    justify-content: flex-end;
    display: flex;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
