<app-title-page pageName="Detalhes do Cliente" (clickButton)="onClickButton($event)" [buttons]=buttons></app-title-page>
<section class="main-content">
    <form [formGroup]="formGroup">
        <div class="group-content">
            <span class="group-title">Dados Cadastrais</span>
            <div class="group-info">
                <div class="group-input">
                    <label for="name" style="font-size: 15px; margin-bottom: 0px;">Nome</label>
                    <input id="name" class="form-control" type="text" style="width: 100%;" formControlName="name">
                    <div *ngIf="name.invalid && submitted" class="invalid-feedback">
                        <p *ngIf="name.errors?.['required']">Nome obrigatório.</p>
                        <p *ngIf="name.errors?.['minlength']">Nome deve conter pelo menos 2 caracteres.
                        </p>
                    </div>
                </div>
                <div>
                    <label for="typePerson" style="font-size: 15px; margin-bottom: 0px;">Tipo</label>
                    <select (ngModelChange)="changePerson()" id="typePerson" class="form-select" required
                        formControlName="typePerson">
                        <ng-container *ngFor="let typePerson of typesPerson">
                            <option [ngValue]="typePerson">{{typePerson}}</option>
                        </ng-container>
                    </select>
                </div>
                <div *ngIf="person == 'Pessoa Jurídica'; else personPhysical">
                    <div class="group-input">
                        <label for="CNPJ" style="font-size: 15px; margin-bottom: 0px;">CNPJ</label>
                        <input id="CNPJ" class="form-control" type="text" style="width: 100%;" formControlName="CNPJ">
                        <div *ngIf="CNPJ.invalid && submitted" class="invalid-feedback">
                            <p *ngIf="CNPJ.errors?.['required']">CNPJ obrigatório.</p>
                            <p *ngIf="CNPJ.errors?.['minlength'] || CNPJ.errors?.['maxlength']">CNPJ deve conter 14 caracteres.
                            </p>
                        </div>
                    </div>
                </div>
                <ng-template #personPhysical>
                    <div class="group-input">
                        <label for="CPF" style="font-size: 15px; margin-bottom: 0px;">CPF</label>
                        <input id="CPF" class="form-control" type="text" style="width: 100%;" formControlName="CPF">
                        <div *ngIf="CPF.invalid && submitted" class="invalid-feedback">
                            <p *ngIf="CPF.errors?.['required']">CPF obrigatório.</p>
                            <p *ngIf="CPF.errors?.['minlength'] || CPF.errors?.['maxlength']">CPF deve
                                conter
                                14 caracteres.
                            </p>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </form>
</section>