<div class="card-company">
    <img src="../../../../../../../assets/saleicon.png" alt="">
    <div>
        <a [routerLink]="['/saleDetail', sale.salesOrderId]" style="text-transform: uppercase;">{{sale.name}}</a>
        <span>{{sale.code}}</span>
    </div>
    <div>
        <span style="text-transform: uppercase;">{{sale.buyer.name}}</span>
        <span style="text-transform: uppercase;">{{sale.buyer.taxRecord}}</span>
        <span>{{sale.buyer.typePerson}}</span>
    </div>
    <div>
        <span>{{sale.total}}</span>
        <span>{{sale.status}}</span>
    </div>
</div>