.header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 75px;
    height: calc(100vh - 75px);
    width: 250px;
}

.content-area {
    position: absolute;
    left: 250px;
    width: calc(100% - 250px);
    top: 75px
}