<app-title-page pageName="Detalhes da Empresa" (clickButton)="onClickButton()" [buttons]=buttons></app-title-page>
<section class="main-content">
    <form [formGroup]="formGroup" (ngSubmit)="ngOnSubmit()" #formDir="ngForm">
        <div class="group-content">
            <span class="group-title">Dados Cadastrais</span>
            <div class="group-info">
                <div class="group-input">
                    <label for="name" style="font-size: 15px; margin-bottom: 0px;">Nome</label>
                    <input id="name" class="form-control" type="text" style="width: 100%;" formControlName="name">
                    <div *ngIf="name.invalid && submitted" class="validation-error">
                        <p *ngIf="name.errors?.['required']">Nome obrigatório.</p>
                        <p *ngIf="name.errors?.['minlength']">Nome deve conter pelo menos 2 caracteres.
                        </p>
                    </div>
                </div>
                <div class="group-input">
                    <label for="tax-number" style="font-size: 15px; margin-bottom: 0px;">CNPJ</label>
                    <input id="tax-number" class="form-control" type="text" style="width: 100%;"
                        formControlName="taxNumber">
                        <div *ngIf="taxNumber.invalid && submitted" class="validation-error">
                            <p *ngIf="taxNumber.errors?.['required']">CNPJ obrigatório.</p>
                            <p *ngIf="taxNumber.errors?.['minlength']">CNPJ deve conter 14 caracteres.
                            </p>
                        </div>
                </div>
                <div class="group-input">
                    <label for="corporate-reason" style="font-size: 15px; margin-bottom: 0px;">Razão Social</label>
                    <input id="corporate-reason" class="form-control" type="text" style="width: 100%;"
                        formControlName="corporateReason">
                </div>
                <div class="group-input">
                    <label for="cnae" style="font-size: 15px; margin-bottom: 0px;">CNAE</label>
                    <input id="cnae" class="form-control" type="text" style="width: 100%;" formControlName="cnae">
                </div>
                <div class="group-input">
                    <label for="state-registration" style="font-size: 15px; margin-bottom: 0px;">Inscrição
                        Estadual</label>
                    <input id="state-registration" class="form-control" type="text" style="width: 100%;"
                        formControlName="stateRegistration">
                </div>
                <div class="group-input">
                    <label for="creation-date" style="font-size: 15px; margin-bottom: 0px;">Data de Fundação</label>
                    <input id="creation-date" class="form-control" type="date" style="width: 100%;"
                        formControlName="creationDate">
                </div>
                <div class="group-input">
                    <label for="situation-revenue" style="font-size: 15px; margin-bottom: 0px;">Status na
                        Receita</label>
                    <input id="situation-revenue" class="form-control" type="text" style="width: 100%;"
                        formControlName="situationRevenue">
                </div>
                <div class="group-input" style="display: flex; flex-direction: column;">
                    <label for="isHeadquarters" style="font-size: 15px; margin-bottom: 0px;">Matriz</label>
                    <input id="isHeadquarters" class="form-check-input" type="checkbox"
                        formControlName="isHeadquarters">
                </div>
            </div>
        </div>
        <div class="group-content">
            <span class="group-title">Endereço</span>
            <div class="group-info">
                <div class="group-input">
                    <label for="address" style="font-size: 15px; margin-bottom: 0px;">Rua</label>
                    <input id="address" class="form-control" type="text" style="width: 100%;" formControlName="address">
                </div>
                <div class="group-input">
                    <label for="city" style="font-size: 15px; margin-bottom: 0px;">Cidade</label>
                    <input id="city" class="form-control" type="text" style="width: 100%;" formControlName="city">
                </div>
                <div class="group-input">
                    <label for="estate" style="font-size: 15px; margin-bottom: 0px;">Estado</label>
                    <input id="estate" class="form-control" type="text" style="width: 100%;" formControlName="estate">
                </div>
                <div class="group-input">
                    <label for="country" style="font-size: 15px; margin-bottom: 0px;">País</label>
                    <input id="country" class="form-control" type="text" style="width: 100%;" formControlName="country">
                </div>
                <div class="group-input">
                    <label for="zip-code" style="font-size: 15px; margin-bottom: 0px;">CEP</label>
                    <input id="zip-code" class="form-control" type="text" style="width: 100%;"
                        formControlName="zipCode">
                </div>
                <div class="group-input">
                    <label for="complemento" style="font-size: 15px; margin-bottom: 0px;">Complemento</label>
                    <input id="complemento" class="form-control" type="text" style="width: 100%;"
                        formControlName="complement">
                </div>
            </div>
        </div>
        <div class="group-content">
            <span class="group-title">Contato</span>
            <div class="group-info">
                <div class="group-input">
                    <label for="home-phone" style="font-size: 15px; margin-bottom: 0px;">Telefone Residencial</label>
                    <input id="home-phone" class="form-control" type="text" style="width: 100%;"
                        formControlName="homePhone">
                </div>
                <div class="group-input">
                    <label for="cell-phone" style="font-size: 15px; margin-bottom: 0px;">Telefone Celular</label>
                    <input id="cell-phone" class="form-control" type="text" style="width: 100%;"
                        formControlName="cellPhone">
                </div>
                <div class="group-input">
                    <label for="email" style="font-size: 15px; margin-bottom: 0px;">E-mail</label>
                    <input id="email" class="form-control" type="text" style="width: 100%;" formControlName="email">
                    <div *ngIf="email.invalid && submitted" class="validation-error">
                        <p *ngIf="email.errors?.['required']">Nome obrigatório.</p>
                        <p *ngIf="email.errors?.['minlength']">Nome deve conter pelo menos 2 caracteres.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-content">
            <span class="group-title">Dados Complementares</span>
            <div class="group-info">
                <div class="group-input">
                    <label for="Total-collaborators" style="font-size: 15px; margin-bottom: 0px;">Imagem</label>
                    <app-upload [image]='image'></app-upload>
                </div>
                <div class="group-input">
                    <label for="Total-collaborators" style="font-size: 15px; margin-bottom: 0px;">Total de
                        Colaboradores</label>
                    <input id="Total-collaborators" class="form-control" type="text" style="width: 100%;"
                        formControlName="totalCollaborators">
                </div>
            </div>
        </div>
        <div *ngIf="isShowPanelOpeningHours" class="group-content">
            <span class="group-title">Horário de Funcionamento</span>
            <div class="group-info">
                <div class="group-input-opening-hours">
                    <div class="opening-time">
                        <label for="sunday" style="font-size: 15px; margin-bottom: 0px;">Domingo</label>
                        <input id="sunday" class="form-check-input" type="checkbox" formControlName="sunday"
                            (change)="onChangeWorkingDay($event)">
                        <div style="display: flex; align-items: center; gap: 5px">
                            Das
                            <input class="form-control" type="time" style="width: 25%;" formControlName="sundayStart">
                            às <input class="form-control" type="time" style="width: 100%;" style="width: 25%;"
                                formControlName="sundayEnd">
                        </div>
                    </div>
                    <div class="opening-time">
                        <label for="monday" style="font-size: 15px; margin-bottom: 0px;">Segunda-Feira</label>
                        <input id="monday" class="form-check-input" type="checkbox" formControlName="monday"
                            (change)="onChangeWorkingDay($event)">
                        <div style="display: flex; align-items: center; gap: 5px">
                            Das
                            <input class="form-control" type="time" style="width: 25%;" formControlName="mondayStart">
                            às <input class="form-control" type="time" style="width: 100%;" style="width: 25%;"
                                formControlName="mondayEnd">
                        </div>
                    </div>
                    <div class="opening-time">
                        <label for="tuesday" style="font-size: 15px; margin-bottom: 0px;">Terça-Feira</label>
                        <input id="tuesday" class="form-check-input" type="checkbox" formControlName="tuesday"
                            (change)="onChangeWorkingDay($event)">
                        <div style="display: flex; align-items: center; gap: 5px">
                            Das
                            <input class="form-control" type="time" style="width: 25%;" formControlName="tuesdayStart">
                            às <input class="form-control" type="time" style="width: 100%;" style="width: 25%;"
                                formControlName="tuesdayEnd">
                        </div>
                    </div>
                    <div class="opening-time">
                        <label for="wednesday" style="font-size: 15px; margin-bottom: 0px;">Quarta-Feira</label>
                        <input id="wednesday" class="form-check-input" type="checkbox" formControlName="wednesday"
                            (change)="onChangeWorkingDay($event)">
                        <div style="display: flex; align-items: center; gap: 5px">
                            Das
                            <input class="form-control" type="time" style="width: 25%;"
                                formControlName="wednesdayStart">
                            às <input class="form-control" type="time" style="width: 100%;" style="width: 25%;"
                                formControlName="wednesdayEnd">
                        </div>
                    </div>
                    <div class="opening-time">
                        <label for="thursday" style="font-size: 15px; margin-bottom: 0px;">Quinta-Feira</label>
                        <input id="thursday" class="form-check-input" type="checkbox" formControlName="thursday"
                            (change)="onChangeWorkingDay($event)">
                        <div style="display: flex; align-items: center; gap: 5px">
                            Das
                            <input class="form-control" type="time" style="width: 25%;" formControlName="thursdayStart">
                            às <input class="form-control" type="time" style="width: 100%;" style="width: 25%;"
                                formControlName="thursdayEnd">
                        </div>
                    </div>
                    <div class="opening-time">
                        <label for="friday" style="font-size: 15px; margin-bottom: 0px;">Sexta-Feira</label>
                        <input id="friday" class="form-check-input" type="checkbox" formControlName="friday"
                            (change)="onChangeWorkingDay($event)">
                        <div style="display: flex; align-items: center; gap: 5px">
                            Das
                            <input class="form-control" type="time" style="width: 25%;" formControlName="fridayStart">
                            às <input class="form-control" type="time" style="width: 100%;" style="width: 25%;"
                                formControlName="fridayEnd">
                        </div>
                    </div>
                    <div class="opening-time">
                        <label for="saturday" style="font-size: 15px; margin-bottom: 0px;">Sábado</label>
                        <input id="saturday" class="form-check-input" type="checkbox" formControlName="saturday"
                            (change)="onChangeWorkingDay($event)">
                        <div style="display: flex; align-items: center; gap: 5px">
                            Das
                            <input class="form-control" type="time" style="width: 25%;" formControlName="saturdayStart">
                            às <input class="form-control" type="time" style="width: 100%;" style="width: 25%;"
                                formControlName="saturdayEnd">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
