<div class="card-company">
    <img src="{{company.image}}" alt="">
    <div>
        <a [routerLink]="['/company/companyDetail', company.companyId]" style="text-transform: uppercase;">{{company.corporateName}}</a>
        <span>{{company.taxNumber}}</span>
        <div *ngIf="company.isHeadquarters; else blockSubsidiary">
            <span>Matriz</span>
        </div>
        <ng-template #blockSubsidiary>
            <span>Filial</span>
        </ng-template>
    </div>
    <div>
        <span style="text-transform: uppercase;">{{company.estate}}</span>
        <span style="text-transform: uppercase;">{{company.city}}</span>
        <span>{{company.address}}</span>
    </div>
    <div>
        <span>{{company.phone}}</span>
        <span>{{company.email}}</span>
        <span>Total de Colaboradores: {{company.totalCollaborators}}</span>
    </div>
</div>