<div class="card-company">
    <div *ngIf="company.image; else noImage">
        <img src="{{company.image}}" alt="">
    </div>
    <ng-template #noImage>
        <img src="../../../../../assets/iconcompany.png" alt="" style="height: 100%; width: 76%;">
    </ng-template>
    <div>
        <a [routerLink]="['/company/companyDetail', company.companyId]"
            style="text-transform: uppercase;">{{company.corporateName}}</a>
        <span>{{company.taxNumber}}</span>
        <div *ngIf="company.isHeadquarters; else blockSubsidiary">
            <span>Matriz</span>
        </div>
        <ng-template #blockSubsidiary>
            <span>Filial</span>
        </ng-template>
    </div>
    <div>
        <span style="text-transform: uppercase;">{{company.estate}}</span>
        <span style="text-transform: uppercase;">{{company.city}}</span>
        <span>{{company.address}}</span>
    </div>
    <div>
        <span>{{company.phone}}</span>
        <span>{{company.email}}</span>
        <span>Total de Colaboradores: {{company.totalCollaborators}}</span>
    </div>
</div>