<a href="" style="text-decoration: none; color: black; position: relative;">
    <div class="card-product">
        <img src="{{image}}" alt="">
        <span style="font-size: 20px; height: 10%;"><b>{{name}}</b></span>
        <div style="padding: 0 10px; height: 20%;">
            <div class="infos-card">
                <div style="text-align: center; display: flex; gap: 5px;">
                    <fa-icon style="font-size: 15px; color: green" [icon]="faMoneyBillWave"></fa-icon>
                    <span>Preço<br>R${{price}}</span>
                </div>
                <div style="text-align: center; display: flex; gap: 5px;">
                    <fa-icon style="font-size: 15px; margin: 3px; color: brown" [icon]="faDolly"></fa-icon>
                    <div *ngIf="stock > 50; else blockAverageStock">
                        Estoque<br><span title="Alto" style="color: green;">{{stock}}KG</span></div>
                    <ng-template #blockAverageStock>
                        <div *ngIf="stock > 20; else blockLowStock">
                            Estoque<br><span title="Médio" style="color: orange;">{{stock}}KG</span></div>
                        <ng-template #blockLowStock>
                            <div>Estoque<br><span title="Baixo" style="color: red;">{{stock}}KG</span></div>
                        </ng-template>
                    </ng-template>
                </div>
            </div>
        </div>
        <p [attr.data-bs-toggle]="id" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
            [attr.data-bs-title]="description">{{description}}</p>
    </div>
    <div class="new-card">
        Novo
    </div>
</a>