<div>
    <img src="../../../assets/Caio_Pescados-removebg-preview.png" alt="">
    <b><span>Filé de Tainha</span></b>
    <p style="cursor: help;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
        data-bs-title="A Tainha é um dos peixes mais
        consumidos no país e possui um sabor especialmente marcante. Destaca-se pelo alto
        teor de cálcio, crucial aos ossos. A carne é delicada e de coloração acentuada.">A Tainha é um dos peixes mais
        consumidos no país e possui um sabor especialmente marcante. Destaca-se pelo alto
        teor de cálcio, crucial aos ossos. A carne é delicada e de coloração acentuada.</p>

</div>
<div>
    <img src="../../../assets/Caio_Pescados-removebg-preview.png" alt="">
    <b><span>Filé de Tainha</span></b>
    <p style="cursor: help;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
        data-bs-title="A Tainha é um dos peixes mais
        consumidos no país e possui um sabor especialmente marcante. Destaca-se pelo alto
        teor de cálcio, crucial aos ossos. A carne é delicada e de coloração acentuada.">A Tainha é um dos peixes mais
        consumidos no país e possui um sabor especialmente marcante. Destaca-se pelo alto
        teor de cálcio, crucial aos ossos. A carne é delicada e de coloração acentuada.</p>

</div>
<div>
    <img src="../../../assets/Caio_Pescados-removebg-preview.png" alt="">
    <b><span>Filé de Tainha</span></b>
    <p style="cursor: help;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
        data-bs-title="A Tainha é um dos peixes mais
        consumidos no país e possui um sabor especialmente marcante. Destaca-se pelo alto
        teor de cálcio, crucial aos ossos. A carne é delicada e de coloração acentuada.">A Tainha é um dos peixes mais
        consumidos no país e possui um sabor especialmente marcante. Destaca-se pelo alto
        teor de cálcio, crucial aos ossos. A carne é delicada e de coloração acentuada.</p>

</div>
<div>
    <img src="../../../assets/Caio_Pescados-removebg-preview.png" alt="">
    <b><span>Filé de Tainha</span></b>
    <p style="cursor: help;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
        data-bs-title="A Tainha é um dos peixes mais
        consumidos no país e possui um sabor especialmente marcante. Destaca-se pelo alto
        teor de cálcio, crucial aos ossos. A carne é delicada e de coloração acentuada.">A Tainha é um dos peixes mais
        consumidos no país e possui um sabor especialmente marcante. Destaca-se pelo alto
        teor de cálcio, crucial aos ossos. A carne é delicada e de coloração acentuada.</p>

</div>
<div>
    <img src="../../../assets/Caio_Pescados-removebg-preview.png" alt="">
    <b><span>Filé de Tainha</span></b>
    <p style="cursor: help;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
        data-bs-title="A Tainha é um dos peixes mais
        consumidos no país e possui um sabor especialmente marcante. Destaca-se pelo alto
        teor de cálcio, crucial aos ossos. A carne é delicada e de coloração acentuada.">A Tainha é um dos peixes mais
        consumidos no país e possui um sabor especialmente marcante. Destaca-se pelo alto
        teor de cálcio, crucial aos ossos. A carne é delicada e de coloração acentuada.</p>

</div>
<div>
    <img src="../../../assets/Caio_Pescados-removebg-preview.png" alt="">
    <b><span>Filé de Tainha</span></b>
    <p style="cursor: help;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
        data-bs-title="A Tainha é um dos peixes mais
        consumidos no país e possui um sabor especialmente marcante. Destaca-se pelo alto
        teor de cálcio, crucial aos ossos. A carne é delicada e de coloração acentuada.">A Tainha é um dos peixes mais
        consumidos no país e possui um sabor especialmente marcante. Destaca-se pelo alto
        teor de cálcio, crucial aos ossos. A carne é delicada e de coloração acentuada.</p>

</div>
<div>
    <img src="../../../assets/Caio_Pescados-removebg-preview.png" alt="">
    <b><span>Filé de Tainha</span></b>
    <p style="cursor: help;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
        data-bs-title="A Tainha é um dos peixes mais
        consumidos no país e possui um sabor especialmente marcante. Destaca-se pelo alto
        teor de cálcio, crucial aos ossos. A carne é delicada e de coloração acentuada.">A Tainha é um dos peixes mais
        consumidos no país e possui um sabor especialmente marcante. Destaca-se pelo alto
        teor de cálcio, crucial aos ossos. A carne é delicada e de coloração acentuada.</p>

</div>