div {
    height: 250px;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid 1px black;
    box-shadow: 1px 1px 5px 1px;
    flex-basis: 200px;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

div:hover{
    border: solid 3px #1E90FF;
}

img {
    width: 90px;
    height: 56px;
    object-fit: cover;
}

span {
    font-size: 18px;
}

p {
    font-size: 15px;
    overflow: hidden;
    text-align: justify;
}
