.card-product {
    height: 300px;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    border: inset 2px black;
    box-shadow: 1px 1px 4px 1px;
    flex-basis: 200px;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

.card-product:hover {
    border: solid 3px #1E90FF;
}

img {
    width: 90px;
    height: 56px;
    object-fit: cover;
}

p {
    font-size: 15px;
    overflow: hidden;
    text-align: justify;
    margin: 0px;
}

.infos-card {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
    border: inset 2px;
    border-radius: 5px;
    background-color: #DCDCDC;
    padding: 5px;
}