p{
    margin: 0px;
}

.content {
    padding: 0px;
    margin: 0px;
    display: flex;
}

.background {
    width: 65vw;
    height: 100vh;
    background-image: url("../../../../../assets/Caio_Pescados.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ctn-form {
    padding: 80px;
    width: 35vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(#519EC8, white);
    flex-direction: column;
    justify-content: center;
}

.validation-error {
    color: red;
    font-size: 14px;
}