<app-title-page pageName="Colaboradores" [buttons]=buttons></app-title-page>
<div>
    <div style="width: 70%;" *ngIf="collaborators$ | async as collaborators; else list">
        <ng-container *ngFor="let collaborator of collaborators.content">
            <app-card-collaborator style="width: 70%;" [collaboratorModel]="collaborator"></app-card-collaborator>
        </ng-container>
        <app-pagination [last]="collaborators.last" [size]="collaborators.size" [sort]="collaborators.sort"
            [totalPages]="collaborators.totalPages" [totalElements]="collaborators.totalElements"
            [numberOfElements]="collaborators.numberOfElements" [number]="collaborators.number" [empty]="collaborators.empty"
            [first]="collaborators.first" [pageable]="collaborators.pageable"></app-pagination>
    </div>
    <ng-template #list>
        <div style="width:70%; text-align: center;">
            <app-sppiner style="width: 100vw; height: 100vh;"></app-sppiner>
        </div>
    </ng-template>
    <div class="search">
        <form [formGroup]="formGroup">
            <input class="form-control" type="text" placeholder="Pesquise nome ou CNPJ" style="width: 100%;"
                formControlName="text">
            <div style="margin-top: 10px;">
                <label for="inputState" style="font-size: 15px; margin-bottom: 0px;">Estado</label>
                <select (ngModelChange)="changeUF()" id="inputState" class="form-select" required
                    formControlName="estate">
                    <ng-container *ngFor="let estate of estates">
                        <option [ngValue]="estate.id">{{estate.nome}}</option>
                    </ng-container>
                </select>
            </div>
            <div style="margin-top: 10px;">
                <label for="inputCity" style="font-size: 15px; margin-bottom: 0px;">Cidade</label>
                <select id="inputCity" class="form-select" required formControlName="city">
                    <ng-container *ngFor="let city of cities$ | async">
                        <option [ngValue]="city.nome">{{city.nome}}</option>
                    </ng-container>
                </select>
            </div>
            <div style="display: flex; justify-content: center; gap: 10px; margin-top: 10px;">
                <button type="button" class="btn btn-secondary" (click)="onClean()">Limpar</button>
                <button type="button" class="btn btn-primary" (click)="ngOnSubmit()">Buscar</button>
            </div>
        </form>
    </div>
</div>