main {
    width: 100%;
    min-height: calc(100vh - 80px);
    background-color: #DCDCDC;
    padding: 20px;
}

@media (max-width: 1250px) {
    main {
        min-height: calc(100vh - 85px);
    }
}

.title{
    display: flex;
    align-items: center;
}