<div class="card-collaborator">
    <div *ngIf="collaboratorModel.image; else imageLogo">
        <img src="{{collaboratorModel.image}}" alt="">
    </div>
    <ng-template #imageLogo>
        <img src="../../../../../assets/download-removebg-preview.png" alt="">
    </ng-template>
    <div>
        <a [routerLink]="['/collaborator/collaboratorDetail', collaboratorModel.userId]"
            style="text-transform: uppercase;">{{collaboratorModel.name}} {{collaboratorModel.surname}}</a>
        <span>{{collaboratorModel.taxNumber}}</span>
        <span>{{collaboratorModel.email}}</span>
    </div>
    <div>
        <span style="text-transform: uppercase;">{{collaboratorModel.telephones}}</span>
        <span>{{collaboratorModel.address}}</span>
    </div>
    <div *ngIf="collaboratorModel.userExtensionModel">
        <div style="display: flex;">RG:
            <span *ngIf="collaboratorModel.userExtensionModel.rg; else noRG">
                {{collaboratorModel.userExtensionModel.rg}}
            </span>
            <ng-template #noRG>-</ng-template>
        </div>
        <div style="display: flex;">Turno:
            <span *ngIf="collaboratorModel.userExtensionModel.turn; else noTurn">
                {{collaboratorModel.userExtensionModel.turn}}
            </span>
            <ng-template #noTurn>-</ng-template>
        </div>
        <div style="display: flex;">Cargo:
            <span *ngIf="collaboratorModel.userExtensionModel.office; else noOffice">
                {{collaboratorModel.userExtensionModel.office}}
            </span>
            <ng-template #noOffice>-</ng-template>
        </div>
    </div>
</div>